<article class="goal">
    <div class="container">
        <div class="card-header dashboard-goal">
            <h4 class="card-title goal-title">{{goal.title}}</h4>
            <div class="card-body goal-body">
                <p class="card-body goal-content">{{goal.content}}</p>
                <p class="card-text goal-author">Posted by <span class="goal-username">{{goal.user.username}}</span> on
                    {{dayjs}}</p>
            </div>
        </div>
    </div>
</article>

<div class="comment-container">
    <form class="card-body comment-form" id="comment-form">
        <div class="form-row">
            <label class="form-label">Comment</label>
            <input id="comment" name="comment-body" class="form-input  form-control" />
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>

<div class="container">
    <div class="comments">
        <h4 class="comment-list">Comments</h4>
        {{#each goal.comments}}
        <div class="card goal comment-box">
            <div class="card-body goal-body">
                <div class="card-text comment-text">
                    {{comment_content}}
                </div>
                <div class="comment-author">
                    -{{user.username}}, {{dayjs}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/comment.js"></script>