{{#each goals as |goal| }}
<article class="goal">
    <div class="container-fluid">
        <div class="card-header dashboard-goal">
            <h4 class="card-title goal-title"><a class="link" href="/goal/{{id}}">{{title}}</a></h4>
            <div class="card-body goal-body">
                <p class="card-body goal-content">{{content}}</p>
                <p class="card-text goal-author">Posted by <span class="goal-username">{{user.username}}</span> on
                    {{dayjs}}</p>
            </div>
        </div>
    </div>
</article>
{{/each}}